<section id="viewCatalog" class="background-img">

    {{!-- <div class="guest">
        There are no Hotels found...
    </div> --}}

    {{#each hotels}}
        {{>hotel}}
    {{/each}}

</section>