{{!-- 
    <div id="container">
        <div>
            <div class="notification loadingBox">
                Loading …
            </div>
            <div class="notification infoBox">
                <span>Info</span>
            </div>
            <div class="notification errorBox">
                <span>Error</span>
            </div>
        </div> --}}
        <section id="viewLogin">
            <h2>Login:</h2>
            <form id="formLogin" action"/auth/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your Username">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your Password">
                {{#if error}}
                <span class="errorBox">{{error.message}}</span>
                {{/if}}
                <input type="submit" class="login" value="Login">
            </form>
        </section>

    </div>
