

   {{!--  <div id="container">
        <div>
            <div class="notification loadingBox">
                Loading …
            </div>
            <div class="notification infoBox">
                <span>Info</span>
            </div>
            <div class="notification errorBox">
                <span>Error</span>
            </div>
        </div> --}}
        <nav>
            <div class="left-container">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/register">Register</a></li>
                </ul>
            </div>
        </nav>

        <section id="viewRegister">
            <h2>Create your account:</h2>
            <form id="formRegister" action="/auth/register" method="POST">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Email">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your Username">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password">
                <label for="rePassword">Repeat Password:</label>
                <input type="password" id="rePassword" name="rePassword" placeholder="Repeat Password">
                {{#if error}}
                <span class="errorBox">{{error.message}}</span>
                {{/if}}
                <input type="submit" class="register" value="Register">
            </form>
        </section>

 